@import "../../styles/variables.scss";

.container {
  width: 100%;
  height: calc(100vh - 68px);
  padding: 20px;

  background: $dirty-white;
}

.content {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
